*.coffee linguist-language=CoffeeScript
*.js linguist-language=CoffeeScript
*.tex linguist-language=LaTeX linguist-documentation=false
*.md linguist-language=LaTeX linguist-documentation=false
*.ts linguist-language=LaTeX linguist-documentation=false
*.sty linguist-language=LaTeX linguist-documentation=false
items/** linguist-language=TeX linguist-detectable=true
blocks/** linguist-language=TeX linguist-detectable=true
*.lol linguist-language=LOLCODE
